.containerMod {
  width: 50%;
  /* margin: 0 auto; */
  /* margin-left: 30px; */
  /* margin-top: 20px; */
}

.containerMod h2 {
  margin-top: 15px;
  text-align: left; 
  font-size: 25px;
  font-weight: bold;
}

.boxContainer {
  display: flex;
  justify-content: space-between; 
  gap: 10px;
  width: 350px;
}


.box {
  flex: 1;
  max-width: 33%;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 10px;
}
.box p {
  margin-top: 20px;
  text-align: center; 
  font-size: 12px;
  font-weight: lighter;
}

.roundedBox {
  width: 350px;
  height: 130px;
  background-color: gray;
  border-radius: 10px;
  margin-top: 20px;
  /* margin-left: 0px; */
  position: relative; /* Added position relative */
}

.roundedBox:hover .halfRectangle {
  opacity: 0.5; /* Change the opacity on hover */
}

.halfRectangle {
  position: absolute;
  bottom: 0; /* Place the half rectangle at the bottom of roundedBox */
  width: 100%; /* Width of the half rectangle should match the roundedBox */
  height: 80px; /* Height of the half rectangle */
  background-color: white;
  padding: 10px; /* Padding for the text */
}

.moduleTitle {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.moduleDescription {
  font-size: 12px;
  color: black;
  font-weight: 300;
}

.module-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
